<div class="form-wrapper" style="padding:0 10em;">
    <h3 class="text-center">Reset Password</h3>
    <form id="resetPasswordForm" [formGroup]="resetPasswordForm" autocomplete="off" (ngSubmit)="resetPassword()">
        <div class="row">
            <div class="col-sm-6">
                <div><label class="label_txt" for="">Reset Password For?</label></div>
                <div>
                    <select class="cust_input" formControlName="reset_for">
                        <option  *ngFor="let reset of resetOptions" [ngValue]="reset">{{reset}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                &nbsp;
            </div>
        </div>
        <div class="_clearfix"></div>
        <div class="row">
            <div class="col-sm-6">
                <label class="label_txt" for="newPassword">Password</label>
                <input type="password" class="cust_input" [(ngModel)]="password" formControlName="password"  placeholder="Password">
            </div>
            <div class="col-xs-6">&nbsp;</div>
        </div>
        <div class="_clearfix"></div>
        <div class="row">
            <div class="col-sm-6">
                <label class="label_txt" for="confirmPassword">Confirm Password</label>
                <input type="password" class="cust_input" [(ngModel)]="confirmPassword" formControlName="confirmPassword"  placeholder="Confirm Password">
            </div>
            <div class="col-xs-6">&nbsp;</div>
        </div>
        <div class="_clearfix"></div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn cust_btn">Reset</button>
            </div>
        </div>
    </form>
</div>