<link rel="stylesheet" type="text/css" media="screen" href="css/grid-list.css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/appointment-list.css" />
<div class="" style="padding: 0 3em;">
    <div class="header-info"></div>
    <div class="grid-info text-center">User Table</div>
    <div class="grid_list_wrapper">
        <div class="grid_row grid_list_header">
            <div class="grid_cell cw1">User Name</div>
            <div class="grid_cell cw2">Type 
            <!-- <i class="glyphicon glyphicon-chevron-up"></i> -->
            </div>
            <div class="grid_cell cw3">Action</div>
        </div>
        <div class="grid_list_body">
            <div class="grid_row" data-ng-if="false" style="justify-content:center;font-weight:700;">No Appointments Found.</div>
            <div class="grid_row bdr_btm" data-ng-repeat="user in [{uName:'user1',type:'PCP'},{uName:'user2',type:'CC'}]">
                <div class="grid_cell cw1">{{user.uName}}</div>
                <div class="grid_cell cw2">{{user.type}}</div>
                <div class="grid_cell cw3 text-center">
                    <button class="btn btn-default">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="_clearfix"></div>
    <div class="row">
        <div class="col-sm-12">
            <button type="button" class="btn cust_btn">Create New User</button>
            <button type="button" class="btn cust_btn">Reset User's Password</button>
        </div>
    </div>
</div>