<app-welcome-navbar></app-welcome-navbar>
<div class="body-wrapper clearfix">
  <section class="fSection">
      <div class="row">
          <div class="col-sm-6">
              <div>
                  <img style="width: 100%;height:425px;" src="assets/images/aboutus_quickview.gif">
              </div>
          </div>
          <div class="col-sm-6">
              <div style="padding:0em 0em;">
                <h1 class="title-txt">About Us</h1>
                <p class="f-txt">
                  DentistLink is a free service brought to you by Arcora the Foundation of Delta Dental of Washington. 
                  The <a href="http://arcorafoundation.org">Arcora Foundation</a> works to improve the oral and overall health of the people of Washington.  
                  With partners, we’ve pioneered programs that increase access to oral health care such as the 
                  <a href="http://abcd-dental.org">Access to Baby and Child Dentistry Program (ABCD)</a> which connects Apple Health (Medicaid) enrolled children ages 0-5 to dentists. Washington now leads the country for young Medicaid-enrolled children accessing dental care. Our goal at DentistLink is to find solutions for Apple Health (Medicaid) enrolled adults seeking dental care.
                </p>
                <div class="_clearfix"></div>
                <p class="f-txt">Your oral health matters. Let us help you find a dentist.</p>
              </div>
          </div>
      </div>
  </section>
</div>
<app-footer></app-footer>