<app-home-navbar></app-home-navbar>

<div class="appointment-wrapper">
    <div class="side-bar" >
        <ul>
            <li><a routerLink="/appointment" routerLinkActive="active">Appointment</a></li>
            <li><a routerLink="/patients" routerLinkActive="active">Patients</a></li> 
            <li><a routerLink="/practices" routerLinkActive="active">Practices</a></li> 
            <li><a routerLink="/communication" routerLinkActive="active">Communications</a></li>
        </ul>
    </div>

        <div class="mid-section" >
        <div class="ap-header">
            <div class="toggle-sidebar pull-left" >
                <i class="material-icons">reorder</i>
            </div>
            <div class="pull-left h-txt pd_L7" style="padding-left: 20px;">Communication</div>
            <div class="pull-right">
                <!--<button class="btn btn-info" (click)="openAppointmentAction(null)">New Appointment</button>-->
            </div>
        </div>
        <div class="ap-body">
            <div class="sub-header">
                <div class="sub-menu active">Text</div>
                <div class="sub-menu">Email</div>
            </div>


            <div class="sub-header">
            	            <form >

			<mat-form-field class ="">
                <input matInput name="searchZipcode" placeholder="Patient" >
			</mat-form-field>


            <button class="btn btn-info"> Temp Search Button</button>
            </form>
            </div>


            <div class="list-wrapper">
                <div class="table-row b-txt">
                    <div class="table-cell c1">From</div>
                    <div class="table-cell c2">Subject</div>
                    <div class="table-cell c3">Message</div>
                    <div class="table-cell c4">Time</div>
                    <div class="table-cell c5">---</div>
                </div>

                <div class="lists">
                    <div class="table-row n-txt" *ngFor = "let data of messages">
                        <div class="table-cell c1">Patient/Provider</div>
                        <div class="table-cell c2">{{data.subject}}</div>
                        <div class="table-cell c3">{{data.message}}</div>
                        <div class="table-cell c4">11:00AM</div>
                        <div class="table-cell c5"><a (click)="replyToggle = !replyToggle"> Reply </a></div>
                    </div>

                     <div *ngIf ="replyToggle == true" class="table-row n-txt"> <!-- Hidden field that displays on reply-->
                       <mat-form-field class="">
                            <input matInput name="comm_message" placeholder="Message" formControlName="comm_message">
                        </mat-form-field> 
                        <button type="submit" class="btn btn-info">SEND</button>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>


</div> <!--End Appointment Wrapper -->

