<app-home-navbar></app-home-navbar>
<div class="" style="padding: 0 3em;">
    <div class="header-info"></div>
    <div class="grid-info text-center">User Table</div>
    <div class="grid_list_wrapper">
        <div class="grid_row grid_list_header">
            <div class="grid_cell cw1">User Name</div>
            <div class="grid_cell cw2">Type 
            <!-- <i class="glyphicon glyphicon-chevron-up"></i> -->
            </div>
            <div class="grid_cell cw3">Action</div>
        </div>
        <div class="grid_list_body">
            <div class="grid_row" *ngIf="false" style="justify-content:center;font-weight:700;">No Appointments Found.</div>
            <div class="grid_row bdr_btm" *ngFor="let user of users">
                <div class="grid_cell cw1">{{user.uName}}</div>
                <div class="grid_cell cw2">{{user.type}}</div>
                <div class="grid_cell cw3 text-center">
                    <button class="btn btn-default">Edit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="_clearfix"></div>
    <div class="row">
        <div class="col-sm-12">
            <a routerLink="/users" class="btn cust_btn">Create New User</a>
            <a routerLink="/resetPassword" class="btn cust_btn">Reset User's Password</a>
        </div>
    </div>
</div>