<div id="site-footer">
  <div class="f-section">
      <div class="row">
          <div class="col-sm-4">
              <a href="#"><img width="200" src="assets/images/Dentistlink.png"></a>
              <div class="_clearfix lvm"></div>
              <a href="http://arcorafoundation.org/"><img width="200" src="assets/images/arcora.png"></a>
          </div>
          <div class="col-sm-4">&nbsp;</div>
          <div class="col-sm-4">
              <div class="contact-info-container">
                  <p class="address"><span>400 Fairview Ave N.</span>
                      <br/>Seattle, WA 98109
                  </p>
                  <p class="email">Email: <a href="mailto:Info@arcorafoundation.org">info@arcorafoundation.org</a></p>
                  <p class="web">Web: <a href="http://arcorafoundation.org">arcorafoundation.org</a></p>
              </div>
          </div>
      </div>
  </div>
  <div class="text-center footer-txt">
      <span> © 2017 DentistLink. See our <a>Privacy Practices</a> and <a>Terms & Conditions.</a></span>
  </div>
</div>