<app-home-navbar></app-home-navbar>
<!-- <div class="line-gap" style="margin-top:10px;"></div>
<div class="">
    <div class="header-info"></div>
    <div class="grid_list_wrapper">
        <div class="grid_row grid_list_header">
            <div class="grid_cell cw1">Patient Name</div>
            <div class="grid_cell cw2">Age 
        // <i class="glyphicon glyphicon-chevron-up"></i>
            </div>
            <div class="grid_cell cw3">Appointment Date</div>
            <div class="grid_cell cw4">Appointment Status</div>
            <div class="grid_cell cw5">Refered By</div>
            <div class="grid_cell cw6">Action</div>
        </div>
        <div class="grid_list_body">
            <div class="grid_row" *ngIf="false" style="justify-content:center;font-weight:700;">No Appointments Found.</div>
            <div class="grid_row bdr_btm" *ngFor="let appointment of appointmentList">
                <div class="grid_cell cw1">{{appointment.patientInfo.patient_name}}</div>
                <div class="grid_cell cw2">{{appointment.patientInfo.patient_dob?appointment.patientInfo.patient_dob:'--'}}</div>
                <div class="grid_cell cw3">{{appointment.date_of_appointment}}</div>
                <div class="grid_cell cw4">&nbsp;</div>
                <div class="grid_cell cw5">Active</div>
                <div class="grid_cell cw6">
                    <select class="form-control cust-select" [(value)]="userAction" (change)="checkModelValue($event)">
                        <option *ngFor="let uAction of ['Edit','Completed','Pending']" [ngValue]="uAction">{{uAction}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="appointment-wrapper">
    <div class="side-bar" [class.collapsed]="isCollapsed">
        <ul>
            <li class="active"><a>Appointments</a></li>
            <li><a>Settings</a></li>
        </ul>
    </div>
    <div class="mid-section" [class.expanded]="isCollapsed">
        <div class="ap-header">
            <div class="toggle-sidebar pull-left" (click)="isCollapsed = !isCollapsed">
                <i class="material-icons">reorder</i>
            </div>
            <div class="pull-left h-txt pd_L7" style="padding-left: 20px;">Appointments</div>
            <div class="pull-right">
                <button class="btn btn-info">New Appointment</button>
            </div>
        </div>
        <div class="ap-body">
            <div class="sub-header">
                <div class="sub-menu active">Active</div>
                <div class="sub-menu">Past</div>
            </div>
            <div class="list-wrapper">
                <div class="table-row b-txt">
                    <div class="table-cell c1">APPT. DATE</div>
                    <div class="table-cell c2">PATIENT NAME</div>
                    <div class="table-cell c3">REFERRED BY</div>
                    <div class="table-cell c4">REASON FOR VISIT</div>
                    <div class="table-cell c5">NOTIFICATIONS</div>
                </div>
                <div class="lists">
                    <div class="table-row n-txt" *ngFor="let alist of appointmentList">
                        <div class="table-cell c1">April 10, 2018</div>
                        <div class="table-cell c2">{{alist.patient_name}}</div>
                        <div class="table-cell c3">XYC Center</div>
                        <div class="table-cell c4">Infection, Pain</div>
                        <div class="table-cell c5">--</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-section">
        <h2 class="font-color" style="margin-top: 9px;">Edit Appointment</h2>
        <div class="section clearfix">
            <label>Notifications</label>
            <div>
                <div class="section-row">
                    <div class="txt-cell">Patient Information Changed</div>
                    <div class="action-cell text-center"><button class="btn cust_btn">Dismiss</button></div>
                </div>
                <div class="section-row">
                    <div class="txt-cell">Patient Information Changed</div>
                    <div class="action-cell text-center"><button class="btn cust_btn">Dismiss</button></div>
                </div>
                <div class="section-row">
                    <div class="txt-cell">Patient Information Changed</div>
                    <div class="action-cell text-center"><button class="btn cust_btn">Dismiss</button></div>
                </div>
            </div>
        </div>
        <div class="_clearfix"></div>
        <div class="section">
            <form [formGroup]="appointmentEditForm" (ngSubmit)="editAppointment()">
                <label>Patient Details</label>
                <div class="section-row">
                    <div class="left-field">
                        <mat-form-field class="">
                            <input matInput placeholder="First Name" formControlName="firstName">
                        </mat-form-field>
                    </div>
                    <div class="right-field">
                        <mat-form-field class="">
                            <input matInput placeholder="Last Name" formControlName="lastName">
                        </mat-form-field>
                    </div>
                </div>
                <div class="_clearfix"></div>
                
                <div class="section-row">
                    <label>Date of Birth</label>
                    <div class="_clearfix"></div>
                    <div>
                        <div class="pull-left" style="width: 100px;margin-right: 10px;">
                            <mat-select placeholder="Month" formControlName="month">
                                <mat-option *ngFor="let month of dateOfBirth.months" [value]="month.value">
                                    {{ month.viewValue }}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="pull-left" style="width: 50px;margin-right: 10px;">
                            <mat-select placeholder="Day" formControlName="day">
                                <mat-option *ngFor="let day of dateOfBirth.days" [value]="day">
                                    {{ day }}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="pull-left" style="width: 50px;margin-right: 10px;">
                            <mat-select placeholder="Year" formControlName="year">
                                <mat-option *ngFor="let year of dateOfBirth.years" [value]="year">
                                    {{ year }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <div class="_clearfix"></div>
                <div class="section-row">
                    <div class="left-field">
                        <mat-form-field class="">
                            <input matInput placeholder="Phone Number" formControlName="phoneNumber">
                        </mat-form-field>
                    </div>
                    <div class="right-field">
                        <mat-form-field class="">
                            <input matInput placeholder="Email" formControlName="email">
                        </mat-form-field>
                    </div>
                </div>
                <div class="_clearfix"></div>
                <div class="section-row">
                    <div class="pull-left" style="width:145px;">Preferred Contact</div>
                    <div class="pull-left" style="width:300px;">
                        <mat-radio-group formControlName="preferredContact">
                            <mat-radio-button value="phone">Phone</mat-radio-button>
                            <mat-radio-button value="email">Email</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="_clearfix"></div>
                <label>Appointment Details</label>
                <div class="_clearfix"></div>
                <div class="section-row">
                    <label class="sub-label">Appointment Date</label>
                    <div class="_clearfix"></div>
                    <div>
                        <div class="pull-left" style="width: 100px;margin-right: 10px;">
                            <mat-select placeholder="Month" formControlName="aptMonth">
                                <mat-option *ngFor="let month of dateOfBirth.months" [value]="month.value">
                                    {{ month.viewValue }}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="pull-left" style="width: 50px;margin-right: 10px;">
                            <mat-select placeholder="Day" formControlName="aptDay">
                                <mat-option *ngFor="let day of dateOfBirth.days" [value]="day">
                                    {{ day }}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="pull-left" style="width: 50px;margin-right: 10px;">
                            <mat-select placeholder="Year" formControlName="aptYear">
                                <mat-option *ngFor="let year of dateOfBirth.years" [value]="year">
                                    {{ year }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <div class="_clearfix"></div>
                <div class="section-row">
                    <label class="sub-label">Reason for Visit</label>
                    <div class="_clearfix"></div>
                    <div class="section-row clearfix">
                        <div class="pull-left" style="width: 100px;">
                            <mat-checkbox formControlName="cleaning">Cleaning</mat-checkbox>
                        </div>
                        <div class="pull-left" style="width: 100px;">
                            <mat-checkbox formControlName="surgery">Surgery</mat-checkbox>
                        </div>
                        <div class="pull-left" style="width: 100px;">
                            <mat-checkbox formControlName="pain">Pain</mat-checkbox>
                        </div>
                    </div>
                    <div class="section-row clearfix">
                        <div class="pull-left" style="width: 100px;">
                            <mat-checkbox formControlName="dentures">Dentures</mat-checkbox>
                        </div>
                        <div class="pull-left" style="width: 100px;">
                            <mat-checkbox formControlName="infection">Infection</mat-checkbox>
                        </div>
                        <div class="pull-left" style="width: 100px;">
                            <mat-checkbox formControlName="damage">Damage</mat-checkbox>
                        </div>
                    </div>
                </div>
                <div class="_clearfix"></div>
                <div class="section-row">
                    <div class="left-field" style="width:145px;margin-top: 16px; margin-right: 15px;">
                        <mat-select placeholder="Patients Coverage" formControlName="patientCoverage">
                            <mat-option *ngFor="let pc of ['Insurance','money back']" [value]="pc">
                                {{ pc }}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="right-field">
                        <mat-form-field class="">
                            <input matInput placeholder="Patients CoverageId" formControlName="patientCoverageId">
                        </mat-form-field>
                    </div>  
                </div>
                <div class="_clearfix"></div>
                <label class="sub-label">Notes</label>
                <div class="section-row">
                    <mat-form-field style="width: 72%;">
                        <textarea matInput placeholder="" formControlName="notes"></textarea>
                    </mat-form-field>
                </div>
                <div class="_clearfix"></div>
                <div class="section-row">
                    <button class="btn btn-info" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>