<app-home-navbar></app-home-navbar>
<div class="line-gap" style="margin-top:10px;"></div>
<div class="">
    <div class="header-info"></div>
    <div class="grid_list_wrapper">
        <div class="grid_row grid_list_header">
            <div class="grid_cell cw1">Patient Name</div>
            <div class="grid_cell cw2">Age 
            <!-- <i class="glyphicon glyphicon-chevron-up"></i> -->
            </div>
            <div class="grid_cell cw3">Appointment Date</div>
            <div class="grid_cell cw4">Appointment Status</div>
            <div class="grid_cell cw5">Refered By</div>
            <div class="grid_cell cw6">Action</div>
        </div>
        <div class="grid_list_body">
            <div class="grid_row" *ngIf="false" style="justify-content:center;font-weight:700;">No Appointments Found.</div>
            <div class="grid_row bdr_btm" *ngFor="let appointment of appointmentList">
                <div class="grid_cell cw1">{{appointment.patientInfo.patient_name}}</div>
                <div class="grid_cell cw2">{{appointment.patientInfo.patient_dob?appointment.patientInfo.patient_dob:'--'}}</div>
                <div class="grid_cell cw3">{{appointment.date_of_appointment}}</div>
                <div class="grid_cell cw4">&nbsp;</div>
                <div class="grid_cell cw5">Active</div>
                <div class="grid_cell cw6">
                    <select class="form-control cust-select" [(value)]="userAction">
                        <option *ngFor="let uAction of ['Edit','Completed','Pending']" [ngValue]="uAction">{{uAction}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>