<link rel="stylesheet" type="text/css" media="screen" href="css/login-form.css" />
<div class="form-wrapper" style="padding:0 10em;">
    <h3 class="text-center">Reset Password</h3>
    <form id="resetPasswordForm" name="resetPasswordForm" autocomplete="off" ng-submit="resetPassword()">
        <div class="row">
            <div class="col-sm-6">
                <div><label class="label_txt" for="">Reset Password For?</label></div>
                <div>
                    <select class="cust_input" data-ng-model="resetPasswordForm.resetReason" ng-options="reset for reset in ['Pain','CleanUp','Dentures']">
                        <option value="">Select Reason</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                &nbsp;
            </div>
        </div>
        <div class="_clearfix"></div>
        <div class="row">
            <div class="col-sm-6">
                <label class="label_txt" for="newPassword">Password</label>
                <input type="password" class="cust_input" data-ng-model="resetPasswordForm.newPassword"  placeholder="Password">
            </div>
            <div class="col-xs-6">&nbsp;</div>
        </div>
        <div class="_clearfix"></div>
        <div class="row">
            <div class="col-sm-6">
                <label class="label_txt" for="confirmPassword">Confirm Password</label>
                <input type="password" class="cust_input" data-ng-model="resetPasswordForm.confirmPassword"  placeholder="Confirm Password">
            </div>
            <div class="col-xs-6">&nbsp;</div>
        </div>
        <div class="_clearfix"></div>
        <div class="row">
            <div class="col-sm-12">
                <button type="submit" class="btn cust_btn">Reset</button>
            </div>
        </div>
    </form>
</div>