/* You can add global styles to this file, and also import other style files */
@import './app/shared/css/grid-list.scss';

html, body {
	padding: 0;
	margin: 0;
    background-color: #ffffff;
}
body{position: relative;overflow-x: hidden;}
.navbar{
    position: relative;
    z-index: 9999;
    margin-bottom: 0px!important;
}
.navbar-nav > li > a{
    padding-top: 35px;
    padding-bottom: 35px;
    color: #00aec7 !important;
    font-weight: 600;
}
.navbar-nav .active >a, .navbar-nav a.active{
    color: #666666 !important;
}
.navbar-nav a.active{
	background: #e7e7e7;
}
/* common styles */
.bdr_btm{border-bottom:1px solid #d7d7d7;}
.not_allowed{opacity: 0.2;cursor: no-drop!important;}
.txt_danger{color: #f00;} 
.mr_R7{margin-right: 7px;}
.cp{cursor:pointer;}
.disable{pointer-events: none!important;opacity: 0.5;}
.txt-wrap{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.pd-LR30{padding-left: 30px;padding-right: 30px;}
.txt_bold{color: #666666;font-weight: 600;font-size: 30px;}
.f_col{color: #666666;}
._clearfix:after,._clearfix:before{content: '';display: table;clear: both;margin:5px auto;}
._clearfix.vm{margin: 10px auto!important;}
._clearfix.lvm{margin: 20px auto!important;}
.cust_btn{border-radius: 0px;padding: 8px 30px;font-weight: 600;}
.cust_btn.info{background: #99dfe9;color: #666666;}
.cust_btn:hover{box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);}
.cust_btn a:hover,.cust_btn a:focus{text-decoration: none;}
.body-wrapper{margin-bottom: 285px;}
#site-content {
	min-height: 100%;
	min-height: 100vh;
	padding-top: 0px;
	position: relative;
	z-index: 1;
	-webkit-box-shadow: #000 0 7px 35px 0;
	-moz-box-shadow: #000 0 7px 35px 0;
	box-shadow: #000 0 7px 35px 0;
  
}
#site-footer {
	font-size: 85%;
    background-color: #3d424f;
    color: #a6b0b3;
	position: fixed;
	z-index: -1;
	left: 0;
	right: 0;
    bottom: 0;
    min-height: 5vw;
    background-size: cover;
	background-position: center;
}
.footer-txt{padding:15px 10em;line-height: 2;background-color: #2c2f3e;}
.fSection{padding: 0px 30px;}
.mSection{background: #99dfe9;padding: 50px 0;}
.mSection .col-sm-3{padding: 0 5em!important;}
.col-sm-3 h4{font-size: 16px;font-weight: 600;}
.col-sm-3 h4, .col-sm-3 p{color: #666666;line-height: 1.7;}
.lSection{padding: 50px 0px;}
.f-section{padding: 40px 50px;min-height: 225px;}
.contact-info-container{color: #a6b0b3;}
.address{line-height: 2;}

input.invalid{border-color:#f00!important;box-shadow:none!important;}

/* --- style for custome check box ----- */
input[type=checkbox]{display: none;}
input[type=checkbox] + label:before{content: "";background-color: white;border: 1px solid #ccc;display: inline-block;font-size: 12px;height: 16px;width: 16px;line-height: 16px;
vertical-align: bottom;text-align: center;cursor:pointer;color: rgb(92,92,92);}
input[type=checkbox]:checked + label:before{content: "\2714";}